.account {
    width: 100%;
    user-select: none;
}
.account .accountpage {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
}
.account .accountpage .white-block h2{
    height: 4rem;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 900;
}
section {
    margin-top: 1rem;
}
section table {
    position: relative;
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(18, 184, 134, 0.6);
}
section table tr {
    height: 4rem;
    width: 500px;
    overflow: hidden;
}
section table .last {
    border-top: 1px solid rgb(18, 184, 134, 0.6);
}
.last td {
    padding-top: 20px;
}
section table tr:nth-child(odd){
    height: 2.5rem;
}
section table tr:nth-child(2n){
    height: 6rem;
}
section table tr td {
    font-weight: bold;
    font-size: 1.25rem;
    padding-top: 0.5rem;
}
section table tr td input{
    appearance: none;
    width: 475px;
    height: 2.25rem;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,0.06);
}
.focus-border{
    visibility: hidden;
    position: relative;
    left: 0;
    bottom: 15px;
    width: 0;
    height: 2px;
    background-color: #12B886;
}
.isIdBox {
    position: absolute;
    right: 0;
    top: 55px;
    width: 120px;
    text-align: right;
    padding: 5px;
    color: #12B886;
}
.isPWBox {
    position: absolute;
    right: 0;
    top: 195px;
    width: 300px;
    text-align: right;
    color: #12B886;
}
.isPWCBox {
    position: absolute;
    right: 0;
    top: 330px;
    width: 120px;
    text-align: right;
    color: #12B886;
}
.isId, .isPW, .isPWC {
    font-size: 0.95rem;
}
.tt {
    color: #495057;
}
span {
    margin-right: 5px;
    color: red;
}
.btnBox {
    margin-top: 50px;
    margin-bottom: 100px;
}
.btnBox section {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btnBox section button {
    width: 200px;
    height: 50px;
    border: none;
    background: #12B886;
    color: #FFF;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 9%) 0px 2px 12px 0px;
    cursor: pointer;
}
.btnBox section button:hover {
    background: #20C997;
}
.btnBox section button.accountCancel{
    background: #FFF;
    color: #495057;
}
.btnBox section button.accountCancel:hover {
    background: #F8F9FA;
}
.etcNotice {
    text-align: right;
    width: 100%;
}
strong {
    margin-right: 220px;
    vertical-align: middle;
}
.selection{
    color: #212529;
    width: 14rem;
    font-size: 1rem;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul li {
    height: 3rem;
    display: flex;
    align-items: center;
}
.checkBox {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 2.875rem;
    height: 1.5rem;
    background: rgb(134, 142, 150);
    transition: all 0.124s ease-in 0s;
    border-radius: 1.125rem;
    padding: 0.125rem;
    border: none;
    margin-left: 150px;
}
.circle {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.625rem;
    background: #FFF;
}

.background{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 9%);
}
.modal {
    margin: 0 auto;
    margin-top: 200px;
    width: 500px;
    height: 300px;
    background: #fff;
    border: none;
    box-shadow: rgb(0 0 0 / 9%) 0px 2px 12px 0px;
}
.modal h6 {
    display: flex;
    height: 100px;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.55rem;
    font-weight: bold;
}
.descBtn {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.descBtn button {
    width: 200px;
    height: 50px;
    border: none;
    background: #12B886;
    color: #FFF;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 9%) 0px 2px 12px 0px;
    cursor: pointer;
}
.descBtn button:hover {
    background: #20C997;
}
.descBtn button.modalCancel{
    background: #FFF;
    color: #495057;
}
.descBtn button.modalCancel:hover {
    background: #F8F9FA;
}