<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>velog</title>
    <link rel="shortcut icon" href="https://static.velog.io/favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>테스트 페이지</h1>
    
    <div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="row, status : ${tests}">
                    <td th:text="${row.id}"></td>
                    <td th:text="${row.username}"></td>
                    <td th:text="${row.regdate}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>