<!DOCTYPE html>
<html lang="en">
<div th:replace="fragment/head :: head"></div>
<head>
    <!-- home.html 전용 css, js -->
</head>
<body>
    <h1>테스트 페이지</h1>
    
    <div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="row, status : ${tests}">
                    <td th:text="${row.id}"></td>
                    <td th:text="${row.username}"></td>
                    <td th:text="${row.regdate}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>