<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment/head :: head"></div>

<head>

    <link rel="stylesheet" href="/css/user/myVelog.css">
    <script src="/javascript/user/myVelog.js"></script>
</head>

<body>
    <div id="root">
        <!-- 고정 헤더 -->
        <header>
            <div class="headerBox">
                <div class="logo">
                    <div class="postingLogo">
                        <a href="/" class="imgLogo">
                            <svg width="192" height="192" viewBox="0 0 192 192" fill="currentColor">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M24 0H168C181.255 0 192 10.7451 192 24V168C192 181.255 181.255 192 168 192H24C10.7451 192 0 181.255 0 168V24C0 10.7451 10.7451 0 24 0ZM49 57.9199V65.48H67L80.6799 142.52L98.5 141.26C116.02 119.06 127.84 102.44 133.96 91.3999C140.2 80.24 143.32 70.9399 143.32 63.5C143.32 59.0601 142 55.7 139.36 53.4199C136.84 51.1399 133.66 50 129.82 50C122.62 50 116.62 53.0601 111.82 59.1799C116.5 62.3 119.68 64.8799 121.36 66.9199C123.16 68.8401 124.06 71.4199 124.06 74.6599C124.06 80.0601 122.44 86.1799 119.2 93.02C116.08 99.8601 112.66 105.92 108.94 111.2C106.54 114.56 103.48 118.7 99.76 123.62L88.0601 57.2C87.1001 52.3999 84.1001 50 79.0601 50C76.78 50 72.3999 50.96 65.9199 52.8799C59.4399 54.6799 53.8 56.3601 49 57.9199Z"
                                    fill="currentColor"></path>
                            </svg>
                        </a>
                        <a href="" class="userLogo">user velog</a>
                    </div>
                </div>
                <nav>
                    <button class="visualMode">
                        <div class="visualBtn">
                            <div class="visual">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                    <path
                                        d="M4.069 13h-4.069v-2h4.069c-.041.328-.069.661-.069 1s.028.672.069 1zm3.034-7.312l-2.881-2.881-1.414 1.414 2.881 2.881c.411-.529.885-1.003 1.414-1.414zm11.209 1.414l2.881-2.881-1.414-1.414-2.881 2.881c.528.411 1.002.886 1.414 1.414zm-6.312-3.102c.339 0 .672.028 1 .069v-4.069h-2v4.069c.328-.041.661-.069 1-.069zm0 16c-.339 0-.672-.028-1-.069v4.069h2v-4.069c-.328.041-.661.069-1 .069zm7.931-9c.041.328.069.661.069 1s-.028.672-.069 1h4.069v-2h-4.069zm-3.033 7.312l2.88 2.88 1.415-1.414-2.88-2.88c-.412.528-.886 1.002-1.415 1.414zm-11.21-1.415l-2.88 2.88 1.414 1.414 2.88-2.88c-.528-.411-1.003-.885-1.414-1.414zm6.312-10.897c-3.314 0-6 2.686-6 6s2.686 6 6 6 6-2.686 6-6-2.686-6-6-6z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </button>
                    <a class="search">
                        <svg width="17" height="17" viewBox="0 0 17 17">
                            <path fill-rule="evenodd"
                                d="M13.66 7.36a6.3 6.3 0 1 1-12.598 0 6.3 6.3 0 0 1 12.598 0zm-1.73 5.772a7.36 7.36 0 1 1 1.201-1.201l3.636 3.635c.31.31.31.815 0 1.126l-.075.075a.796.796 0 0 1-1.126 0l-3.636-3.635z"
                                clip-rule="evenodd" fill="currentColor"></path>
                        </svg>
                    </a>
                    <div th:replace="${loginURL} :: login"></div>
                </nav>
            </div>
        </header>
        <!-- 고정 헤더 끝 -->
        <!-- 스크롤 헤더 -->
        <div id="scrollMoveHeader">
            <div class="headerBox">
                <div class="logo">
                    <div class="postingLogo">
                        <a href="/" class="imgLogo">
                            <svg width="192" height="192" viewBox="0 0 192 192" fill="currentColor">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M24 0H168C181.255 0 192 10.7451 192 24V168C192 181.255 181.255 192 168 192H24C10.7451 192 0 181.255 0 168V24C0 10.7451 10.7451 0 24 0ZM49 57.9199V65.48H67L80.6799 142.52L98.5 141.26C116.02 119.06 127.84 102.44 133.96 91.3999C140.2 80.24 143.32 70.9399 143.32 63.5C143.32 59.0601 142 55.7 139.36 53.4199C136.84 51.1399 133.66 50 129.82 50C122.62 50 116.62 53.0601 111.82 59.1799C116.5 62.3 119.68 64.8799 121.36 66.9199C123.16 68.8401 124.06 71.4199 124.06 74.6599C124.06 80.0601 122.44 86.1799 119.2 93.02C116.08 99.8601 112.66 105.92 108.94 111.2C106.54 114.56 103.48 118.7 99.76 123.62L88.0601 57.2C87.1001 52.3999 84.1001 50 79.0601 50C76.78 50 72.3999 50.96 65.9199 52.8799C59.4399 54.6799 53.8 56.3601 49 57.9199Z"
                                    fill="currentColor"></path>
                            </svg>
                        </a>
                        <a href="" class="userLogo">user velog</a>
                    </div>
                </div>
                <nav>
                    <button class="visualMode">
                        <div class="visualBtn">
                            <div class="visual">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                    <path
                                        d="M4.069 13h-4.069v-2h4.069c-.041.328-.069.661-.069 1s.028.672.069 1zm3.034-7.312l-2.881-2.881-1.414 1.414 2.881 2.881c.411-.529.885-1.003 1.414-1.414zm11.209 1.414l2.881-2.881-1.414-1.414-2.881 2.881c.528.411 1.002.886 1.414 1.414zm-6.312-3.102c.339 0 .672.028 1 .069v-4.069h-2v4.069c.328-.041.661-.069 1-.069zm0 16c-.339 0-.672-.028-1-.069v4.069h2v-4.069c-.328.041-.661.069-1 .069zm7.931-9c.041.328.069.661.069 1s-.028.672-.069 1h4.069v-2h-4.069zm-3.033 7.312l2.88 2.88 1.415-1.414-2.88-2.88c-.412.528-.886 1.002-1.415 1.414zm-11.21-1.415l-2.88 2.88 1.414 1.414 2.88-2.88c-.528-.411-1.003-.885-1.414-1.414zm6.312-10.897c-3.314 0-6 2.686-6 6s2.686 6 6 6 6-2.686 6-6-2.686-6-6-6z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </button>
                    <a class="search">
                        <svg width="17" height="17" viewBox="0 0 17 17">
                            <path fill-rule="evenodd"
                                d="M13.66 7.36a6.3 6.3 0 1 1-12.598 0 6.3 6.3 0 0 1 12.598 0zm-1.73 5.772a7.36 7.36 0 1 1 1.201-1.201l3.636 3.635c.31.31.31.815 0 1.126l-.075.075a.796.796 0 0 1-1.126 0l-3.636-3.635z"
                                clip-rule="evenodd" fill="currentColor"></path>
                        </svg>
                    </a>
                    <div th:replace="${loginURL} :: login"></div>
                </nav>
            </div>
        </div>
        <!-- 스크롤 헤더 끝 -->
        <!-- 내 벨로그 포스트 -->
        <div class="container">
            <div class="invisiblePosition" style="width: 0%;"></div>
            <div class="myVelogPostingMargin">
                <!-- 내 벨로그-글쓴이 -->
                <div class="authorInfoMargin">
                    <div class="authorInfo">
                        <a href="">
                            <img src="https://velog.velcdn.com/images/yoon_bly/profile/e170e8da-df45-4fde-a28a-b68fc760ca9c/image.jpg"
                                alt="profile">
                        </a>
                        <div class="infoSection">
                            <div class="name">
                                <a href="">
                                    글쓴이
                                </a>
                            </div>
                            <div class="description">글쓴이 소개</div>
                        </div>
                    </div>
                    <div class="infoMargin"></div>
                    <div class="infoUnderline"></div>
                </div>
                <div class="infoUnderline-margin"></div>
                <!-- 내 벨로그-글쓴이 끝 -->
                <!-- 글 시리즈 소개 메뉴 -->
                <div class="middleMenu-margin">
                    <div class="middleMenu">
                        <a class="firstMenu active" href="javascript:void(0)">글</a>
                        <a class="secondMenu " href="javascript:void(0)">시리즈</a>
                        <a class="thirdMenu" href="javascript:void(0)">소개</a>
                        <!-- 여기 active 활성화 js 만지기 -->
                        <div class="middleMenuUnderBar" style="left: 0%"></div>
                    </div>
                </div>
                <!-- 글 시리즈 소개 메뉴 끝-->
                <!-- 검색바 -->
                <div class="myVelogSearchBar-margin">
                    <section class="myVelogSearchBar">
                        <div class="SearchBar">
                            <svg width="17" height="17" viewBox="0 0 17 17">
                                <path fill-rule="evenodd"
                                    d="M13.66 7.36a6.3 6.3 0 1 1-12.598 0 6.3 6.3 0 0 1 12.598 0zm-1.73 5.772a7.36 7.36 0 1 1 1.201-1.201l3.636 3.635c.31.31.31.815 0 1.126l-.075.075a.796.796 0 0 1-1.126 0l-3.636-3.635z"
                                    clip-rule="evenodd" fill="currentColor"></path>
                            </svg>
                            <input placeholder="검색어를 입력하세요" value>
                        </div>
                    </section>
                </div>
                <!-- 검색바 끝 -->
                <!-- 태그 목록 -->
                <div class="tagPosition">
                    <div class="tagListPosition">
                        <!-- @media (max-width:1200px) display:none; 중원이한테 물어보기 -> 전체화면 하면 생기게 하는거 같은데 -->
                        <div class="tagList">
                            <div class="tagList-last">
                                <div class="title">태그 목록</div>
                                <ul>
                                    <!-- 클릭시 클래스 변경 -->
                                    <li class="clickTag">
                                        <a href="">전체보기</a>
                                        <span>
                                            (
                                            "7"
                                            )
                                        </span>
                                    </li>
                                    <li class="otherTag">
                                        <a href="">java</a>
                                        <span>
                                            (
                                            "6"
                                            )
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 태그 목록 끝 -->
                <!-- *글 포스트* -->
                <section class="post">
                    <div class="noList">
                        <!-- 글 포스트 없을때 -->
                        <div class="postDiv">
                            <div class="emptyPost">
                                <img src="https://static.velog.io/static/media/undraw_blank_canvas_3rbb.35e81baf.svg"
                                    alt="list is empty">
                                <div class="message">포스트가 없습니다.</div>
                            </div>
                        </div>
                        <!-- 글 포스트 없을때 끝 -->
                    </div>
                    <div class="post-list">
                        <!-- 글 포스트 있을때 -->
                        <!-- js 만져보기 -->
                        <div class="postDiv">
                            <div class="fullPost">
                                <div class="postList">
                                    <a href="">
                                        <div class="postImg post-thumbnail" style="padding-top: 52.356%;">
                                            <img src="https://velog.velcdn.com/images/yoon_bly/post/6ac6ae43-f262-4d4d-a475-898b951c9450/image.jpg"
                                                alt="post-thumbnail">
                                        </div>
                                    </a>
                                    <a href="">
                                        <h2>글 제목</h2>
                                    </a>
                                    <p>글 소제목</p>
                                    <div class="tags-wrapper"></div>
                                    <div class="subinfo">
                                        <span>2022년 10월 12일</span>
                                        <div class="separator">.</div>
                                        <span>
                                            "0"
                                            "개의 댓글"
                                        </span>
                                        <div class="separator">.</div>
                                        <span class="likes">
                                            <svg width="24" height="24" viewBox="0 0 24 24">
                                                <path fill="currentColor" d="M18 1l-6 4-6-4-6 5v7l12 10 12-10v-7z">
                                                </path>
                                            </svg>
                                            "0"
                                        </span>
                                        <div class="separator">.</div>
                                        <span>
                                            <!-- 여기 공개 비공개 바꾸기 -->
                                            <div class="publicPrivate">
                                                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                    <path fill="currentColor"
                                                        d="M17.625 9H16.5V6.81c0-2.47-1.969-4.522-4.44-4.56a4.514 4.514 0 0 0-4.56 4.5V9H6.375A1.88 1.88 0 0 0 4.5 10.875v9a1.88 1.88 0 0 0 1.875 1.875h11.25a1.88 1.88 0 0 0 1.875-1.875v-9A1.88 1.88 0 0 0 17.625 9zm-4.969 5.85v3.225a.672.672 0 0 1-.623.675.657.657 0 0 1-.69-.656V14.85a1.5 1.5 0 0 1-.838-1.486 1.5 1.5 0 1 1 2.152 1.486zM15.187 9H8.814V6.75c0-.848.332-1.645.937-2.25A3.16 3.16 0 0 1 12 3.562a3.16 3.16 0 0 1 2.25.938 3.16 3.16 0 0 1 .938 2.25V9z">
                                                    </path>
                                                </svg>
                                                " 비공개"
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="postDiv">
                            <div class="fullPost">
                                <div class="postList">
                                    <a href="">
                                        <div class="postImg post-thumbnail" style="padding-top: 52.356%;">
                                            <img src="https://velog.velcdn.com/images/yoon_bly/post/6ac6ae43-f262-4d4d-a475-898b951c9450/image.jpg"
                                                alt="post-thumbnail">
                                        </div>
                                    </a>
                                    <a href="">
                                        <h2>글 제목</h2>
                                    </a>
                                    <p>글 소제목</p>
                                    <div class="tags-wrapper"></div>
                                    <div class="subinfo">
                                        <span>2022년 10월 12일</span>
                                        <div class="separator">.</div>
                                        <span>
                                            "0"
                                            "개의 댓글"
                                        </span>
                                        <div class="separator">.</div>
                                        <span class="likes">
                                            <svg width="24" height="24" viewBox="0 0 24 24">
                                                <path fill="currentColor" d="M18 1l-6 4-6-4-6 5v7l12 10 12-10v-7z">
                                                </path>
                                            </svg>
                                            "0"
                                        </span>
                                        <div class="separator">.</div>
                                        <span>
                                            <!-- 여기 공개 비공개 바꾸기 -->
                                            <div class="publicPrivate">
                                                <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                    <path fill="currentColor"
                                                        d="M17.625 9H16.5V6.81c0-2.47-1.969-4.522-4.44-4.56a4.514 4.514 0 0 0-4.56 4.5V9H6.375A1.88 1.88 0 0 0 4.5 10.875v9a1.88 1.88 0 0 0 1.875 1.875h11.25a1.88 1.88 0 0 0 1.875-1.875v-9A1.88 1.88 0 0 0 17.625 9zm-4.969 5.85v3.225a.672.672 0 0 1-.623.675.657.657 0 0 1-.69-.656V14.85a1.5 1.5 0 0 1-.838-1.486 1.5 1.5 0 1 1 2.152 1.486zM15.187 9H8.814V6.75c0-.848.332-1.645.937-2.25A3.16 3.16 0 0 1 12 3.562a3.16 3.16 0 0 1 2.25.938 3.16 3.16 0 0 1 .938 2.25V9z">
                                                    </path>
                                                </svg>
                                                " 비공개"
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 글 포스트 있을때 끝 -->
                    </div>
                </section>
                <!-- 글 포스트 끝 -->

                <!-- *시리즈 포스트* -->
                <section class="series">
                    <div class="noList">
                        <!-- 시리즈 포스트 없을때 -->
                        <div class="seriesDiv">
                            <div class="emptySeries">
                                <img src="https://static.velog.io/static/media/undraw_blank_canvas_3rbb.35e81baf.svg"
                                    alt="list is empty">
                                <div class="message">시리즈가 없습니다.</div>
                            </div>
                        </div>
                        <!-- 시리즈 포스트 없을때 끝 -->
                    </div>
                    <div class="seriesList">
                        <!-- 시리즈 포스트 있을떄 -->
                        <div class="seriesDiv">
                            <div class="seriesPost">
                                <a href="" class="seriesImgLink">
                                    <div class="seriesImg" style="padding-top: 52.6316%;">
                                        <img
                                            src="https://velog.velcdn.com/images/yoon_bly/post/8aecf875-dacc-4c21-a56b-0b8a93988ea8/image.jpg">
                                    </div>
                                </a>
                                <h4>
                                    <a href="" class="seriesName">시리즈 이름</a>
                                </h4>
                                <div class="seriesInfo">
                                    <span class="seriesCount">
                                        "7"
                                        "개의 포스트"
                                    </span>
                                    <span class="dot">.</span>
                                    "마지막 업데이트"
                                    "2022년 10월 13일"
                                </div>
                            </div>
                            <div class="seriesPost">
                                <a href="" class="seriesImgLink">
                                    <div class="seriesImg" style="padding-top: 52.6316%;">
                                        <img
                                            src="https://velog.velcdn.com/images/yoon_bly/post/8aecf875-dacc-4c21-a56b-0b8a93988ea8/image.jpg">
                                    </div>
                                </a>
                                <h4>
                                    <a href="" class="seriesName">시리즈 이름</a>
                                </h4>
                                <div class="seriesInfo">
                                    <span class="seriesCount">
                                        "7"
                                        "개의 포스트"
                                    </span>
                                    <span class="dot">.</span>
                                    "마지막 업데이트"
                                    "2022년 10월 13일"
                                </div>
                            </div>
                        </div>
                        <!-- 시리즈 포스트 있을떄 끝 -->
                    </div>
                </section>
                <!-- 시리즈 포스트 끝 -->

                <!-- *소개* -->
                <section class="introduce">
                    <div class="noIntro">
                        <!-- 소개 없을 때-->
                        <div class="introduceDiv">
                            <div class="introduce">
                                <div class="introduceNoneDisplay">
                                    <img src="https://static.velog.io/static/media/undraw_empty.5fd6f2b8.svg"
                                        alt="empty about">
                                    <div class="message">소개가 작성되지 않았습니다.</div>
                                    <button color="teal" class="introduceBtn">소개 글 작성하기</button>
                                </div>
                            </div>
                        </div>
                        <!-- 소개 없을 때 끝 -->
                    </div>
                    <!-- 소개 글 작성 -->
                    <div class="introBox">
                        <div class="rightIntroduceBox">
                            <div class="saveIntroduce">
                                <button color="teal" class="saveBtn">저장하기</button>
                            </div>
                            <div class="writeIntroduceBox">
                                <div class="writeIntroduce">
                                    <textarea
                                        style="border: none; outline: none; resize: none; display: flex; overflow: hidden;"
                                        onkeyup="resize(this)" onkeydown="resize(this)"
                                        placeholder="당신은 어떤 사람인가요? 당신에 대해서 알려주세요."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 소개 글 작성 끝 -->
                    <!-- 소개 글 수정 -->
                    <div class="introReviseBox">
                        <div class="reviseIntroduceBox">
                            <div class="reviseIntroduce">
                                <button color="teal" class="reviseBtn">수정하기</button>
                            </div>
                            <div class="writeReviseBox">
                                <div class="writeIntroduce">
                                    <textarea
                                        style="border: none; outline: none; resize: none; display: flex; overflow: hidden;"
                                        onkeyup="resize(this)" onkeydown="resize(this)"
                                        placeholder="당신은 어떤 사람인가요? 당신에 대해서 알려주세요."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 소개 글 수정 끝 -->
                </section>
                <!-- 소개 끝 -->

            </div>
        </div>
    </div>
</body>

</html>